<div class="row scroll">
    <br>

    <div id="logo" class="text-center">
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    </div>
    <br>

    <div id="category">
        <div id="category-list" class="scroll">
            <ul class="nav nav-stacked">
                {{#foreach navigation}}
                    <li class="nav-item">
                        <a href="{{url absolute="true"}}" class="nav-link nav-{{slug}}" data-toggle="tab"
                           onclick="navigationFunction(this)">{{label}}</a>
                    </li>
                {{/foreach}}
            </ul>
        </div>
    </div>
    <footer id="nav-footer">
        <div id="style-changer">
            <a id="light" href="javascript:changeTheme('light');" style="display: inline-block;">
                <img src="/assets/image/PH_Day_50x50.png">
            </a>
            <a id="dark" href="javascript:changeTheme('dark');" style="display: none;">
                <img src="/assets/image/PH_Night_50x50.png">
            </a>
        </div>
    </footer>
</div>