<div class="row">
    <div class="list-group scroll">
        <header class="list-group-item tag-stats">
            <div class="tag-stats-header">
	            {{tag.name}}
            </div>
            <div class="tag-stats-count">
                {{pagination.total}} articles
            </div>
        </header>
	    {{#foreach posts}}
            <article href="{{url}}" class="list-group-item blog-excerpt {{post_class}}" onclick="loadBlog(this)">
                <div class="blog-excerpt-title text-overflow">
				    {{{title}}}
                </div>
                <div class="blog-excerpt-date text-overflow">
				    {{date format="YYYY-MM-DD"}}
                </div>
                <div class="blog-excerpt-content">
				    {{excerpt characters="180"}}
                </div>
            </article>
	    {{/foreach}}
    </div>
	{{pagination}}
</div>