<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/default.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/grey.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/nprogress.css"}}"/>
	{{ghost_head}}
</head>
<body class="{{body_class}}">
{{{body}}}
{{ghost_foot}}
<script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/nprogress.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.infinitescroll.min.js"}}"></script>
<script type="text/javascript"
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
<script type="text/javascript" src="{{asset "js/default.js"}}"></script>
</body>
</html>
